
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #1DA5EE;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  display: block;
  flex: 1;
  min-height: 100vh;
  align-items: flex-start;
}

.each-clock {
  /* display: none; */
  text-align: center;
}
.clock {
  height: 20rem;
  width: 20rem;
  border: 15px solid #F4B5CF;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 5px #D7B7C4;
}

.face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateY(-3px;);
}

.hand {
  height: 10px;
  width: 50%;
  border-radius: 20%;
  background: #EEDA1D;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.37, 2.44, 0.58, 1);
}
h1 {
  text-align: center;
  margin-top: 40px;
}
#intro {
  text-align: center;
}
button {
  min-height: 40px;
  background-color: #F4B5CF;
  border-radius: 40%;
}
select {
  min-height: 100px;
  background-color: #F4B5CF;
}
.add-clock {
  margin-left: 40px;
}
